/WpfApp1/.vs/Remember Me/v16/Server/sqlite3/db.lock
/Remember ME/.vs/Remember Me/v16/Server/sqlite3/db.lock
/Remember ME/.vs/Remember Me/v16/.suo
/Remember ME/.vs/Remember Me/v16/Server/sqlite3/storage.ide
/Remember ME/.vs/Remember Me/v16/Server/sqlite3/storage.ide-shm
/Remember ME/.vs/Remember Me/v16/Server/sqlite3/storage.ide-wal
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/.signature.p7s
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3.nupkg
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/ThirdPartyNotices.rtf
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/build/Microsoft.CodeAnalysis.FxCopAnalyzers.props
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/documentation/Microsoft.CodeAnalysis.FxCopAnalyzers.md
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/AllRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DesignRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DesignRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DocumentationRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/DocumentationRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/GlobalizationRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/GlobalizationRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/InteroperabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/InteroperabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/MaintainabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/MaintainabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/NamingRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/NamingRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/PerformanceRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/PerformanceRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/UsageRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/UsageRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/AllRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/BasicCorrectnessRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/BasicDesignGuidelineRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/ExtendedCorrectnessRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/ExtendedDesignGuidelineRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/GlobalizationRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/ManagedMinimumRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/MinimumRecommendedRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/Sdl-7.1.Recommended.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/Sdl-7.1.Required.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/rulesets/legacy/SecurityRules.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/tools/install.ps1
/Remember ME/packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.3/tools/uninstall.ps1
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/.signature.p7s
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3.nupkg
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/ThirdPartyNotices.rtf
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/analyzers/dotnet/Microsoft.CodeAnalysis.VersionCheckAnalyzer.dll
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/build/Microsoft.CodeAnalysis.VersionCheckAnalyzer.props
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/documentation/Microsoft.CodeAnalysis.VersionCheckAnalyzer.md
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/AllRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/AllRulesDisabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/AllRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/tools/install.ps1
/Remember ME/packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.3/tools/uninstall.ps1
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/.signature.p7s
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/Microsoft.CodeQuality.Analyzers.2.9.3.nupkg
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/ThirdPartyNotices.rtf
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/cs/Humanizer.dll
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.CodeQuality.Analyzers.dll
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.CodeQuality.CSharp.Analyzers.dll
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/vb/Humanizer.dll
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.CodeQuality.Analyzers.dll
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.CodeQuality.VisualBasic.Analyzers.dll
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/build/Microsoft.CodeQuality.Analyzers.props
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/documentation/Microsoft.CodeQuality.Analyzers.md
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/AllRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DesignRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DesignRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DocumentationRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/DocumentationRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/MaintainabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/MaintainabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/NamingRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/NamingRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/PerformanceRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/PerformanceRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/UsageRulesDefault.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/rulesets/UsageRulesEnabled.ruleset
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/tools/install.ps1
/Remember ME/packages/Microsoft.CodeQuality.Analyzers.2.9.3/tools/uninstall.ps1
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/.signature.p7s
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/Microsoft.NetCore.Analyzers.2.9.3.nupkg
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/ThirdPartyNotices.rtf
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetCore.Analyzers.dll
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetCore.CSharp.Analyzers.dll
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetCore.Analyzers.dll
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetCore.VisualBasic.Analyzers.dll
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/build/Microsoft.NetCore.Analyzers.props
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/documentation/Microsoft.NetCore.Analyzers.md
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/AllRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/GlobalizationRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/GlobalizationRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/InteroperabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/InteroperabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/PerformanceRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/PerformanceRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/ReliabilityRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/ReliabilityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/UsageRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/rulesets/UsageRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/tools/install.ps1
/Remember ME/packages/Microsoft.NetCore.Analyzers.2.9.3/tools/uninstall.ps1
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/.signature.p7s
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/Microsoft.NetFramework.Analyzers.2.9.3.nupkg
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/ThirdPartyNotices.rtf
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetFramework.Analyzers.dll
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/cs/Microsoft.NetFramework.CSharp.Analyzers.dll
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetFramework.Analyzers.dll
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/analyzers/dotnet/vb/Microsoft.NetFramework.VisualBasic.Analyzers.dll
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/build/Microsoft.NetFramework.Analyzers.props
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/documentation/Microsoft.NetFramework.Analyzers.md
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/AllRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/AllRulesDisabled.ruleset
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/AllRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/DesignRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/DesignRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/SecurityRulesDefault.ruleset
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/rulesets/SecurityRulesEnabled.ruleset
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/tools/install.ps1
/Remember ME/packages/Microsoft.NetFramework.Analyzers.2.9.3/tools/uninstall.ps1
